@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="pagetitle">
    <h1>Profil</h1>
    <hr />
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <partial name="_ManageNav" />
                    <div class="tab-content pt-2">
                        @RenderBody()
                    </div>
                </div>
            </div> 
        </div>
       
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}