@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor Authentication";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Kullanılabilir kurtarma kodunuz kalmadı!</strong>
                    <p>Kurtarma koduyla giriş yapmadan önce <a asp-page="./GenerateRecoveryCodes">yeni bir kurtarma kod seti üretin.</a></p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Kullanılabilir 1 kurtarma kodunuz kaldı!</strong>
                    <p>Yeni bir <a asp-page="./GenerateRecoveryCodes">kurtarma kod seti üretebilirsiniz.</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Kullanılabilir @Model.RecoveryCodesLeft kurtarma kodunuz kaldı!</strong>
                    <p>Yebi bir <a asp-page="./GenerateRecoveryCodes">kurtarma kod seti üretebilirsiniz.</a>.</p>
                </div>
            }

            <p>2fa ile ilgili diğer işlemleriniz için yöneticinizle irtibata geçin!</p>

            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Kurtarma Kodlarını Yenile</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
