@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

<section class="section">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Kullanıcı Rolü</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>
                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    @:Admin
                                }
                                else if (User.IsInRole("SuperAdmin"))
                                {
                                    @:SuperAdmin
                                }
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a> |
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success btn-sm"><i class="bi bi-person-plus"></i> Yeni Kayıt Oluştur</a></p>
    </div>
</section>